*, body {
    margin: 0;
    padding: 0;
}


@media screen and (max-width: 450px) {
    .headNav > .nav {
        width: 100px;
        height: 38px;
        top: 0;
        margin-right: auto;
        padding: 0;
    }
}

@media screen and (max-width: 820px) {
    .wrap > h2, h3 {
        font-size: 20px;
    }
}

@media screen and (max-width: 820px) {
    .wrap > p {
        font-size: 20px;
    }
}



@media screen and (max-width: 1000px) {
    .wrap > .head {
        display: none;
    }
}


@media screen and (max-width: 500px) {
    .hold > .img-holder {
        width: 440px;
    }
    
}

.wrap {
    max-width: 1000px;
    margin: auto;
    background-color: #ffffff;
    background-image: url(/images/base2.png);
    box-shadow: 3px 3px 15px #636567;
}



.headNav {
    position: relative;
    margin-top: 0;
    max-width: 1000px;
    height: 130px;
    background-image: url(/images/head2.png);
}

.logo {
    position: absolute;
    width: 104px;
    height: 75px;
    background-image: url(/images/bike2.png);
    background-repeat: no-repeat;
    margin: 36px 0 0 60px;
}
.logo a{
    display: block;
    height: 75px;
    cursor: pointer;
}
.head {
    width: 1000px;
    height: 520px;
    background-image: url(/images/heand2.png);
}
.nav {
    position: absolute;
    top: 63px;
    left: 250px;
    padding: 0;
}
.nav li {
    float: left;
    margin-right: 20px;
    width: 110px;
    height: 38px;
    list-style-type:none;
}
.nav li a {
    font: 17px Arial, sans-serif;
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background-image: url(/images/sprite.png);
    text-align: center;
    /* outline: 3px solid coral; */
}
.nav li a:hover{
    background-position: 0 -40px;
}

.hold {
    width: 360px;
    height: auto;
    margin: 10px 85px 0 15px;
    float: right;
    
}

.hold div{
    font-size: 18px;
    width: 360px;
    height: 270px;
    padding: 0 0 40px 0;
    
}

#mg1 {
    height: 270px;
    box-shadow: 0px 5px 3px 3px #c1c0c0;
    border-radius: 10px;
    float: right;
}


#mgg {
    text-align: center;
    padding: 10px 0 0 0;
    color: #5e5757;
}

.camino {
	color: #070707;
	text-shadow: 0 4px 3px #636567;
    padding-top: 20px;
    
}

h1, h2, h3 {
    text-align: center;
    padding: 10px 0 10px 0;
}

p {
    padding: 5px 50px 0 50px;
    text-indent: 40px;
    font-family:  Arial, Helvetica, sans-serif;
}



#pattern {
    margin-top: 0;
    height: auto;
    background-image: url(/images/bike0-2.png);
    background-attachment:fixed;
}


#upb {
    left: 100px;
    width: 50px;
    height: 58px;
    margin-left: auto;
    padding-right: 50px;
}


/*Footer*/

.container {
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    max-width: 1000px;
    height: 200px;
    background-image: url(/images/Footer2.png);
    border-top: 5px double #636567;
    
}

#fb {
    background: url(/images/icons/facebook_icon-icons.com_53612.png) no-repeat left center;
    width: auto;
    height: 25px;
    /* padding-left: 40px; */
    
}

#inst{
    background: url(/images/icons/Instagram_icon-icons.com_66804.png) no-repeat left center;
    width: auto;
    height: 25px;
    /* padding-left: 40px; */
}

#fb, #inst {
    padding: 10px 0 0 30px;
}

#social {
    padding: 25px 0 0 50px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

a:hover {
    color: #329af0; 
}

#year{
    width: auto;
    padding-top: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font: 20px Arial, sans-serif;
}


